{% extends "layout.html" %}

{% block page_content %}
<div class="row">
    <div class="col-md-5">
        <h3>Select year</h3>
        <table class="table table-hover">
            <tr>
                <th>Select Year:</th>
            </tr>
            {% for year in years %}
                <tr>
                    <td><a href="{{  url_for('main.report_year', year=year) }}">
                        {{ year }}
                    </a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}