{% extends "layout.html" %}

{% block page_content %}
<div class="row">
    <div class="col-md-4">
        <h3>
            <a href="{{ url_for('main.project_edit', project_id=project.project_id) }}">
                {{ project.name }}
            </a>
        </h3>
        <div class="btn-group">
            <a href="{{ url_for('main.report_project_month', project_id=project.project_id) }}" class="btn btn-default">
                Per Month
            </a>
        </div>
        <br>
        Total hours: <strong>{{ '{:,.0f}'.format(project_total) }}</strong>
        (<strong>{{ '{:,.2f}'.format(project_total/hpd) }}</strong> days)
        <br>
        <h4>Overview per Day</h4>
        <table class="table table-hover table-bordered">
            <tr>
                <th class="text-right">Date</th>
                <th class="text-right">Hours</th>
            </tr>
            {% for project, ds, ts in project_day %}
                <tr>
                    <td class="text-right">{{ ds.strftime('%A %d-%m-%Y') }}</td>
                    <td class="text-right">{{ '{:,.0f}'.format(ts) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}